extends layout/base

block title
  title=title

block page_css
  link(rel='stylesheet', href='/stylesheets/create-post.css')

block plugins_css
  link(rel='stylesheet', href='/adminlte/bower_components/select2/dist/css/select2.min.css')

block content
  section.content.container-fluid
    form(method='POST')
      .form-group
        button.btn.btn-primary(type='submit', name='Publish') Publish
        button.btn.btn-primary(type='submit', name='Draft') Draft
        button.btn.btn-danger(type='reset') Cancel
      .form-group
        label(for='title') Title
        input#title.form-control(type='text', name='title', placeholder='title')
      .form-group
        label(for='url') URL
        input#url.form-control(type='url', name='url', placeholder='url')
      .form-group
        label(for='tags') Tags
        select#tags.form-control.select2(multiple='multiple', name='tags', data-placeholder='Select tags', style='width: 100%;')
          option Tokyo
          option Osaka
          option Hanoi
          option Hue
          option Danang
          option HoiAn
          option Bangkok
      .row
        .col-sm-6
          .form-group
            label Cover 
            input#cover(type='file', name='cover')
            #cover-image.image-wrapper(style='margin: 1rem 0;')  
            label.btn.btn-primary(type='button', for='cover')
              | Select cover
        .col-sm-6
          .form-group
            label Thumbnail
            input#thumbnail(type='file', name='thumbnail')
            #thumbnail-image.image-wrapper(style='margin: 1rem 0;')  
            label.btn.btn-primary(type='button', for='thumbnail')
              | Select thumbnail
      .form-group
        textarea#editor(name='editor', rows='10', cols='80')
          | This is my textarea to be replaced with CKEditor.

block script
  script(src='/adminlte/bower_components/select2/dist/js/select2.full.min.js')
  script(src='/adminlte/bower_components/ckeditor/ckeditor.js')
  script.
    $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor', {
    height : '600'
    })
    $('button[type="submit"]').click(event => {
    event.preventDefault()
    console.log(event.target.innerText)
    })
    })
