extends layout/base

block page_css
  link(rel='stylesheet', href='/stylesheets/create-post.css')

block plugins_css
  link(rel='stylesheet', href='/adminlte/bower_components/select2/dist/css/select2.min.css')

block content
  section.content.container-fluid
    form#form(method='POST')
      .form-group
        button.btn.btn-primary(type='submit', name='status' value="published") Publish
        button.btn.btn-primary(type='submit', name='status' value="draft" ) Draft
        button.btn.btn-danger(type='reset') Cancel
        if(post)
          span.bg-info.text-info=post.status
      .form-group
        label(for='title') Title
        input#title.form-control(type='text', name='title', placeholder='title' value=(post!=undefined?post.title:'') required)
      .form-group
        label(for='tags') Tags
        select#tags.form-control.select2(multiple='multiple', name='tags', data-placeholder='Select tags', style='width: 100%;')
          if (tags)
            each tag in tags
              if(tag.selected=='true')
                option(value=tag._id selected)=tag.name
              else
                option(value=tag._id)=tag.name
      .form-group
        label(for='image') Tag image 
        input(type='text' name='image' id="image" value=(image!=undefined?image._id:'') style='display:none;')
        .image-wrapper(style='margin: 1rem 0;')
          img#display-image(src=(image!=undefined?'/images/'+image.name:'')  style="max-width:100% !important;max-height:100%  !important; width:auto !important; height: auto !important;")
        button.btn.btn-primary#open-image-modal(type='button' data-toggle='modal' data-target='#image-modal') Select cover image
      .form-group
        if(post!=undefined)
          textarea#editor(name='content', rows='10', cols='80')=post.content
        else
          textarea#editor(name='content', rows='10', cols='80')

block script
  script(src='/adminlte/bower_components/select2/dist/js/select2.full.min.js')
  script(src='/adminlte/bower_components/ckeditor/ckeditor.js')
  script.
    $(function() {
    //Initialize Select2 Elements
    $('.select2').select2()
    // Replace the <textarea id="editor"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor', {
        height: '600'
    })
    $('#form').on('submit', function() {
        $(':input[type="text"]').filter(function(e) {
            if (this.value.length === 0) {
                return true;
            }
        }).remove();
      })
    })
    function callback({
        selectedImage
    }) {
        if (selectedImage) {
            $('#display-image').attr('src', '/images/' + selectedImage.name);
            $('#image').val(selectedImage._id)
        }
    }
block modules
  include layout/image-modal.pug
