doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title=title
  // Tell the browser to be responsive to screen width
  meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
  // Bootstrap 3.3.7
  link(rel='stylesheet' href='/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css')
  // Font Awesome
  link(rel='stylesheet' href='/adminlte/bower_components/font-awesome/css/font-awesome.min.css')
  // Ionicons
  link(rel='stylesheet' href='/adminlte/bower_components/Ionicons/css/ionicons.min.css')
  // Theme style
  link(rel='stylesheet' href='/adminlte/dist/css/AdminLTE.min.css')
  // iCheck
  link(rel='stylesheet' href='/adminlte/plugins/iCheck/square/blue.css')
  // Google Font
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
body.hold-transition.register-page
    include layout/message.pug
    .register-box
      .register-box-body
        .register-logo
          img(src='/images/logo-black.png' alt='logo')
        p.login-box-msg=title
        form#form(method='post')
          .form-group.has-feedback
            input.form-control(type='text' placeholder='name' name="name" required)
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='email' placeholder='Email' name="email" required)
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password' placeholder='Password' id="password" name="password" required)
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password' placeholder='Confirm password' id="confirm-password" required)
            span.glyphicon.glyphicon-log-in.form-control-feedback
          .form-group
            button.btn.btn-primary.btn-block.btn-flat(type='submit') Register
            
        a.text-center(href='/user/login') Login
    include layout/script.pug
    script.
      $(function () {
        $('#form').on('submit',function(evt){
          const pass = $('#password').val()
          const confirmPass = $('#confirm-password').val()
          if(pass === confirmPass) return true
          else return false
        })
      });
