form#change-password-form(method='POST' action='/user/change-password')
    .form-group
        label(for='current_password') Current password*
        input#current_password.form-control(type='password' name='current_password' required placeholder='current password')
    .form-group
        label(for='new_password') New password*
        input#new_password.form-control(type='password' name='new_password' required placeholder='new password')
    .form-group
        label(for='confirm_password') Confirm password*
        input#confirm_password.form-control(type='password' name='confirm_password' required placeholder='confirm password')
        span#not-match.text-muted Confirm password is not match
    .form-group
        button.btn.btn-primary(type='submit') Change password
        button.btn.btn-danger(type='reset') Cancel
script.
    $(function() {
        $('#not-match').hide()
    });
    $('#new_password, #confirm_password').on('input',function(evt){
        const new_password = $('#new_password').val()
        const confirm_password = $('#confirm_password').val()
        if(new_password!=confirm_password)
            $('#not-match').show()
        else
            $('#not-match').hide()
    })
    $('#change-password-form').on('submit',function(evt){
        const new_password = $('#new_password').val()
        const confirm_password = $('#confirm_password').val()
        if(new_password!=confirm_password) {
            $('#not-match').show()
            return false
        }
        else return true
    })