doctype html
html
    head
        include head.pug
    body.skin-green.sidebar-mini
        .wrapper
            include header.pug
            include aside.pug
            .content-wrapper
                section.content-header
                    h1=title
                    include message.pug
                block content
            include footer.pug
        include script.pug
        include modal.pug