footer.main-footer
    // To the right
    .pull-right.hidden-xs
        | Powered by AdminLTE 2.4.15
    // Default to the left
    strong
        | Copyright © 2019 
        a(href='#') The solo guy
        | .
    |  All rights reserved.