if success_message
    .alert.alert-success.alert-dismissible.fade.in(role='alert')
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        strong=success_message
if warning_messages
    .alert.alert-warning.alert-dismissible.fade.in(role='alert')
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        each msg in warning_messages
            div
                strong=msg
if errors
    .alert.alert-warning.alert-dismissible.fade.in(role='alert')
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        each error in errors
            div
                strong=error.msg